<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Omega_Red.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <Omega_Red.Properties.Settings>
            <setting name="BiosInfoCollection" serializeAs="String">
                <value />
            </setting>
            <setting name="IsoInfoCollection" serializeAs="String">
                <value />
            </setting>
            <setting name="SlotFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenshotsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="MemoryCardsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayMode" serializeAs="String">
                <value />
            </setting>
            <setting name="ControlMode" serializeAs="String">
                <value />
            </setting>
            <setting name="Topmost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompressionQuality" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="VideosFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DisableWideScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="ColourSchema" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="MediaOutputType" serializeAs="String">
                <value>Capture</value>
            </setting>
            <setting name="TouchPadScale" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RenderingSchema" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="SoundLevel" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="IsMuted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OffScreenStreamerPort" serializeAs="String">
                <value>8559</value>
            </setting>
            <setting name="IsFXAA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GoogleAccountIsChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="YouTubeStreamSelectedId" serializeAs="String">
                <value />
            </setting>
            <setting name="YouTubeBroadcastSelectedId" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamName" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="VideoBitRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AudioBitRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MediaSourceInfoCollection" serializeAs="String">
                <value />
            </setting>
            <setting name="RecordingFileSizeMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RecordingVideoBitRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RecordingAudioBitRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PadControlConfigCollection" serializeAs="String">
                <value />
            </setting>
            <setting name="IsVisualVibrationEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TexturePacksFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="TexturePackMode" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="SkipFrameMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowFrameRate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResolutionMode" serializeAs="String">
                <value>0</value>
            </setting>
        </Omega_Red.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.46.0.0" newVersion="1.46.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.46.0.0" newVersion="1.46.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
