.*.swp
.*.swn
.*.swo

*.suo
*.ncb
*.sdf
*.opensdf
*.user
*.log
*.dsp
*.dsw
*.bsc
*.aps
*.exe
*.wav

*.trace
*.dump

*.asm


*.VC.db
*.VC.VC.opendb

**/Win32/Release*
**/Win32/Debug*
**/Win32/Devel*
**/x64/Release*
**/x64/Debug*
**/x64/Devel*

_ReSharper.*
pcsx2.snapshot_*
svnrev.h

/build
/obj-*

.DS_Store
Thumbs.db

Debug.txt
install_log.txt

Debug
Release
Devel

oprofile_data/

# Visual Studio upgrades
/Backup*
/UpgradeLog*.htm

/bin/**/*.dll
/bin/**/*.exp
/bin/**/*.ilk
/bin/**/*.lib
/bin/**/*.pdb
/bin/PCSX2
/bin/*ReplayLoader
/bin/bios
/bin/dumps
/bin/help
/bin/inis
/bin/logs
/bin/memcards
/bin/plugins
/bin/snaps
/bin/sstates
/deps
/ipch